#nav {
    display: flex;
    height: 50px;
    line-height: 50px;
    background-color: rgb(107, 62, 3);
  }
  .nav-link {
    display: inline-block;
    padding: 0 16px;
    color: white;
    text-decoration: none;
  }
  #app {
    background-color: rgb(71, 43, 17);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }